<body>
    <div>
        <h1>Add A New Parcel</h1>
        <br>
        SenderId: <input name = "senderId" type = "text" [(ngModel)] = "senderId"> 
        Address: <input name = "address" type = "text" [(ngModel)] = "address"> 
        Weight: <input name = "weight" type = "number" [(ngModel)] = "weight"> 
        Fragile: <input name = "fragile" type = "checkbox" [(ngModel)] = "fragile">
        <br>
        <br>
        <button class= "btn btn-primary" type = "submit" (click) = "addNewParcel()"> Add Parcel</button>
      </div>
</body>