<div> 
    <h1>List All Senders</h1>
    <br>
    <table class = "table table-hover">
      <thead>
        <th>#</th>
        <th>_id</th>
        <th>Sender</th>
        <th> Sender Parcels</th>
      </thead>
      <tbody>
        <tr *ngFor = "let sender of senderArray; let i = index">
          <td> {{i+1}} </td>
          <td> {{senderArray[i]._id}} </td>
          <td> {{senderArray[i].name}} </td>
          <td> {{senderArray[i].parcels | w10ParcelSubString:senderArray[i].parcels}}</td>
        </tr>
      </tbody>
    </table>
</div>
